<html>
    <head>
        <title>gameserver_home</title>
    </head>
    <body>
        <h1>GameServer noDB Demo</h1>
        <div>
            This is a demo program to show how to use HTML.
        </div>
        <ul>
            <li>
                Uno, one, ichi, einz
            </li>
            <li>
                Dos, two, ni, zwei
            </li>
        </ul>
        <a href="https://www.brandeis.edu">Brandeis</a>
        <br>
        <a href="/">gameserver</a>
        <br>
        <img 
            src="https://www.cs.brandeis.edu/~tim/hickey-apr08.gif" 
            alt="photo of Tim Hickey"
            width="200"
            />
        <br>
        <form method="post" action="/postdemo">
            name: <input type="text" name="firstname" /> <br>
            grade: <select name="grade">
                    <option> student</option>
                    <option> graduate</option>
                    <option> retired </option>
                </select>
                <br>
                <input type="submit">
        </form>


        

    </body>
</html>